.cart_wrapper {
  min-height: 350px;
}

.cart_item_wrapper {
  max-width: 940px;
}

.cart_input_count {
  width: 45px;
}

.cart_item_price {
  font-weight: 700 !important;
  font-size: 20px;
}

.cart_update_button {
  cursor: pointer;
  margin: 8px 8px;
}

.cart_update_section {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}